<form action="/users/sign_in" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <input type="submit" value="Log in">
</form>